$light-bg: #C9CBCB;
$mobi-primary: #65B360;
$mobi-primary-dark: #52994D;

*{ box-sizing: border-box; }
body{	padding: 20px; }

.message-loader{
	align-items: center;
	border: 1px solid $light-bg;
	border-radius: 15px;
	display: flex;
	height: 20px;
	padding: 0 5px;
	position: relative;
	width: 45px;
	
	.loader-bar{
		animation: chat-typing-bar 1.5s infinite;
		border-radius: 5px;
		height: 8px;
		left: 5px;
		position: absolute;
	}
}

.message-loader-2{
	align-items: center;

	border-radius: 15px;
	display: flex;
	height: 20px;
	justify-content: space-between;
	padding: 0 2px;
	position: relative;
	width: 45px;
	
		.loader-bar-2{
			background: $light-bg;
			border-radius: 5px;
			height: 10px;
			position: relative;
			width: 10px;
			&:first-of-type{ animation: chat-typing-indicator 1.5s infinite; }
			&:nth-of-type(2){ animation: chat-typing-indicator 1.5s infinite 0.2s; }
			&:nth-of-type(3){ animation: chat-typing-indicator 1.5s infinite 0.4s; }
		}
}

@keyframes chat-typing-bar {
	0% { width: 8px; }
	25% { width: calc(100% - 10px); }
	50% { width: 8px; }
	75% { width: calc(100% - 10px); }
	100% { width: 8px; }
	
	25% { left: 5px; }
	50% { left: calc(100% - 13px); }
	75% { left: 5px; }
	
	0% { background: $mobi-primary; }
	50% { background: $mobi-primary-dark; }
	100% { background: $mobi-primary; }
}

@keyframes chat-typing-indicator {
	0% { top: 0; }
	6.25% { top: -1px; }
	12.5% { top: 0; }
	18.75% { top: 1px; }
	25% { top: 0; }
	
	12.5% { background: $mobi-primary; }
}

.spinner {
	margin-top: -21px;
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	
}

.spinner svg {
	-webkit-animation: loading-rotate 2s linear infinite;
	-moz-animation: loading-rotate 2s linear infinite;
	-o-animation: loading-rotate 2s linear infinite;
	animation: loading-rotate 2s linear infinite;
	height: 42px;
	width: 42px;
}

.spinner .path {
	stroke-dasharray: 90, 150;
	stroke-dashoffset: 0;
	stroke-width: 5;
	stroke: #409eff;
	stroke-linecap: round;
	-webkit-animation: loading-dash 1.5s ease-in-out infinite;
	-moz-animation: loading-dash 1.5s ease-in-out infinite;
	-o-animation: loading-dash 1.5s ease-in-out infinite;
	animation: loading-dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes loading-rotate {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@-moz-keyframes loading-rotate {
	to {
		-moz-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@-o-keyframes loading-rotate {
	to {
		-o-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@keyframes loading-rotate {
	to {
		-webkit-transform: rotate(1turn);
		-moz-transform: rotate(1turn);
		-o-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@-webkit-keyframes loading-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -40px;
	}
	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -120px;
	}
}

@-moz-keyframes loading-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -40px;
	}
	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -120px;
	}
}

@-o-keyframes loading-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -40px;
	}
	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -120px;
	}
}

@keyframes loading-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -40px;
	}
	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -120px;
	}
}
